
<form name="editChildFrm" class="table" novalidate>
    <div class="row">
        <div class="cell">
            {{i18n.firstName}}
        </div>
        <div class="cell">
            <input
                    ng-disabled="!canEdit"
                    required
                    ng-model="editData.currChildInEdit.firstName">
        </div>
    </div>
    <div class="row">
        <div class="cell">
            {{i18n.surname}}
        </div>
        <div class="cell">
            <input
                    ng-disabled="!canEdit"
                    required
                    ng-model="editData.currChildInEdit.surname">
        </div>
    </div>
    <div class="row">
        <div class="cell">
            {{i18n.lastName}}
        </div>
        <div class="cell">
            <input
                    ng-disabled="!canEdit"
                    required
                    ng-model="editData.currChildInEdit.lastName">
        </div>
    </div>
    <div class="row">
        <div class="cell">
            {{i18n.dob}}
        </div>
        <div class="cell">
            <input type="date" ng-disabled="!canEdit" ng-model="editData.currChildInEdit.dob" />
        </div>
    </div>
    <div class="row">
        <div class="cell">
            {{i18n.comments}}
        </div>
        <div class="cell">
            <textarea
                    ng-disabled="!canEdit"
                    ng-model="editData.currChildInEdit.comments"></textarea>
        </div>
    </div>
</form>
<button ng-show="canEdit" ng-click="saveChild(editData.currChildInEdit)" ng-disabled="editChildFrm.$invalid">{{i18n.save}}</button>